{
  "Marathon": {
    "Endpoint": "{{marathon_url}}"
  },

  "Bamboo": {
    "Endpoint": "http://{{ inventory_hostname }}:{{ bamboo_port }}",
    "Zookeeper": {
      "Host": "{{ zookeeper_hosts }}",
      "Path": "/marathon-haproxy/state",
      "ReportingDelay": 5
    }
  },

  "HAProxy": {
    "TemplatePath": "config/haproxy_template.cfg",
    "OutputPath": "/etc/haproxy/haproxy.cfg",
    "ReloadCommand": "haproxy -f /etc/haproxy/haproxy.cfg -p /var/run/haproxy.pid -D -sf $(cat /var/run/haproxy.pid)"
  },

  "StatsD": {
    "Enabled": false,
    "Host": "localhost:8125",
    "Prefix": "bamboo-server.development."
  }
}
